@model IEnumerable<S.G.H.Models.Facture>
@inject IViewLocalizer localizer

@{
    ViewBag.Title = "Factures";
    Layout = "_Layout";
}
<div class="table-responsive">
    <h1>@localizer["Liste des Factures"] :</h1>
    <br />
    <form class="d-flex" asp-controller="Facture" asp-action="Search">
        <input class="form-control me-2"  type="search" name="number" placeholder="@localizer["Chercher un Facture par son Nombre"]" aria-label="Search" autocomplete="off">
        <button class="btn btn-success" type="submit" >@localizer["Chercher"]</button>
    </form>
    <br />
    <a asp-controller="Facture" asp-action="Create" class="btn btn-primary">@localizer["Ajouter une Facture à un Patient"]</a>
    <br />
    <br />
    <table class="table table-striped table-sm table-hover table-bordered border-dark">
        <thead class="table-dark">
            <tr>
                <th>@localizer["Nombre"]</th>
                <th>@localizer["Montant"]</th>
                <th>@localizer["Date Paiement"]</th>
                <th>@localizer["Type Paiement"]</th> 
                <th>@localizer["Date Départ"]</th>
                <th>@localizer["Patient Matricule"]</th>
                <th>@localizer["Telecharger la Facture"]</th> 
                <th>@localizer["Modification"]</th>
            </tr>
        </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @{
                                string x = item.Montant.ToString() + " DH";  
                            }
                            @x
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePaiement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypePaiement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDépart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientMatricule)
                        </td>
                        <td>
                            <a asp-controller="Facture" asp-action="Telecharger" asp-route-id="@item.Id" class="link-primary">@localizer["Télécharger"]</a>
                        </td> 
                        <td>
                            <a asp-controller="Facture" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">@localizer["Modifier"]</a>
                        </td> 
                    </tr>
                }
            </tbody>
    </table>
</div>
