@model S.G.H.ViewModel.PatientFactureViewModel

@{
    ViewData["Title"] = "Telecharger";
    Layout = "_Layout";
}
<div>
    <h4>Telecharger la facture de cette Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientMatricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientMatricule)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TelechargerFacture_Pdf" class="btn btn-success">Telecharger La Facture</a>
    <a asp-action="Index" class="btn btn-outline-info">Annuler</a>
</div>
